.ui-datatable table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto !important; 
}

/*
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th{
    font-size: 12px;
}
*/

body .ui-datatable .ui-datatable-data > tr.ui-state-highlight.ui-state-hover {
   background-color: #3984b8;
}

/*body .ui-datatable .ui-datatable-data > tr.ui-state-highlight {
    background-color: #f7f7f7 !important;
    color: #ffffff !important;
    border-color: #3376a5 !important;
}
 
*/

body .no-highlight .ui-datatable .ui-datatable-data > tr.ui-row-editing
{
	background-color: #f6f8f9 !important; 
}

body .ui-widget-header
{
	background-color: #ffffff;
	color: #3984b8 !important;
	//font-size: 14px !important;
	//border: 1px solid #27506d;
	//line-height: 25px;
	
}
body .ui-panel-titlebar-icon
{
    color: #3984b8 !important;
}

body .ui-paginator {
    background-color: #fff;//#5caceb;//#27506d;
   // line-height: 18px;
}

.no-border table tbody tr td, .no-border .ui-widget-content,.no-border table thead th,.no-border table tfoot td, .no-border table tfoot th
{
    border: 0 !important;
}

.ui-inputtext:disabled
{
    background-color: antiquewhite !important;
}
.ui-inputtextarea:disabled
{
    background-color: antiquewhite !important;
}
.ui-inputfield:disabled
{
    background-color: antiquewhite !important;
}


.green-cl-btn
{
	background-color: white !important;
	color: #4caf50 !important;
	border: 2px solid #4caf50 !important;
}
.green-cl-btn:hover
{
	background-color: #4caf50 !important;
	color:white !important;
}

.black-cl-btn
{
	background-color: white !important;
	color: black !important;
	border: 2px solid black !important;
}
.black-cl-btn:hover
{
	background-color: black !important;
	color:white !important;
}

.black-cl-btn .ui-button.ui-button-text-icon-left .ui-icon {
    //margin-top: -6px;
    color: black;
}


.ph .ui-widget-header:hover
{
	background-color: #004a94 !important; // #3376a5;   #2d95da;    #2f4050;
}


.bold
{
    font-weight: bold;
}

.empty
{

}

.topAlign{
    vertical-align: top;
}

.green-lbl{
	color:white !important;
	background-color: #3eb839 !important;
	border-radius: 4px !important;
	padding: 2px !important;	
}

.red-lbl{
	color:white !important;
	background-color: #ff1300 !important;
	border-radius: 4px !important;
	padding: 2px !important;	
}

.red-row
{
	background-color: #ff00006e !important;
}

.green-row
{
	background-color: #90e89b !important;
}
/*
body .ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-state-active, body .ui-tabs.ui-tabs-bottom .ui-tabs-nav li.ui-state-active, body .ui-tabs.ui-tabs-left .ui-tabs-nav li.ui-state-active, body .ui-tabs.ui-tabs-right .ui-tabs-nav li.ui-state-active {
    background-color: #7d7d7d;
    border-bottom: 2px;
    border-bottom-color: orangered;
}
*/
body .ui-state-disabled {
    opacity: 1 !important; 
   // filter: Alpha(Opacity=1) ;
}





